aside {
    position: fixed;
    top: 10%;
    left: 5%;
    width: 90%;
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(2, 2, 2, 0.8);
    display: none;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

@media (min-width: 48rem) {
    aside {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}